<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>context</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>Enter Quicksign network</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>/Users/cvidal/scripts/quicksign-network.sh</string>
			<key>type</key>
			<string>ShellScript</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>Leave Quicksign network</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>/Users/cvidal/scripts/quicksign-network-leave.sh</string>
			<key>type</key>
			<string>ShellScript</string>
			<key>when</key>
			<string>Departure</string>
		</dict>
		<dict>
			<key>context</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>Désactiver le système audio</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<false/>
			<key>type</key>
			<string>Mute</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>CA43EA83-1E85-4D9E-9FAF-A6AC9BAA3912</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>activé</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<true/>
			<key>type</key>
			<string>ToggleTimeMachine</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>CA43EA83-1E85-4D9E-9FAF-A6AC9BAA3912</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>désactivé</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<false/>
			<key>type</key>
			<string>ToggleTimeMachine</string>
			<key>when</key>
			<string>Departure</string>
		</dict>
		<dict>
			<key>context</key>
			<string>CA43EA83-1E85-4D9E-9FAF-A6AC9BAA3912</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>Activer le système audio</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<true/>
			<key>type</key>
			<string>Mute</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>CA43EA83-1E85-4D9E-9FAF-A6AC9BAA3912</string>
			<key>delay</key>
			<real>5</real>
			<key>description</key>
			<string>Spotify</string>
			<key>enabled</key>
			<false/>
			<key>parameter</key>
			<string>/Applications/Spotify.app</string>
			<key>type</key>
			<string>Open</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>delay</key>
			<real>5</real>
			<key>description</key>
			<string>Hipchat</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>/opt/homebrew-cask/Caskroom/hipchat/latest/HipChat.app</string>
			<key>type</key>
			<string>OpenAndHide</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>CA43EA83-1E85-4D9E-9FAF-A6AC9BAA3912</string>
			<key>delay</key>
			<real>2</real>
			<key>description</key>
			<string>HipChat</string>
			<key>enabled</key>
			<false/>
			<key>parameter</key>
			<string>HipChat</string>
			<key>type</key>
			<string>QuitApplication</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>CA43EA83-1E85-4D9E-9FAF-A6AC9BAA3912</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>Open SABnzbdX</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>/Applications/SABnzbdX.app</string>
			<key>type</key>
			<string>Open</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>CA43EA83-1E85-4D9E-9FAF-A6AC9BAA3912</string>
			<key>delay</key>
			<real>20</real>
			<key>description</key>
			<string>SABnzbdX</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>SABnzbdX</string>
			<key>type</key>
			<string>QuitApplication</string>
			<key>when</key>
			<string>Departure</string>
		</dict>
		<dict>
			<key>context</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>Fix</string>
			<key>enabled</key>
			<false/>
			<key>parameter</key>
			<string>Fix</string>
			<key>type</key>
			<string>NetworkLocation</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>Automatic</string>
			<key>enabled</key>
			<false/>
			<key>parameter</key>
			<string>Automatic</string>
			<key>type</key>
			<string>NetworkLocation</string>
			<key>when</key>
			<string>Departure</string>
		</dict>
		<dict>
			<key>context</key>
			<string>93A86D1F-839E-4410-BEAF-8B9775865291</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>Fix M6</string>
			<key>enabled</key>
			<false/>
			<key>parameter</key>
			<string>Fix M6</string>
			<key>type</key>
			<string>NetworkLocation</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>7C2E7D89-9433-4233-A1D9-95FE19EBC306</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>QS Network</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>/Users/cvidal/scripts/quicksign-network-qs.sh</string>
			<key>type</key>
			<string>ShellScript</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>93A86D1F-839E-4410-BEAF-8B9775865291</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>M6 Network</string>
			<key>enabled</key>
			<false/>
			<key>parameter</key>
			<string>/Users/cvidal/scripts/quicksign-network-m6.sh</string>
			<key>type</key>
			<string>ShellScript</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>93A86D1F-839E-4410-BEAF-8B9775865291</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>Refresh DHCP lease when in M6</string>
			<key>enabled</key>
			<false/>
			<key>parameter</key>
			<string>/Users/cvidal/scripts/refresh-dhcp-lease.app</string>
			<key>type</key>
			<string>Open</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>delay</key>
			<real>10</real>
			<key>description</key>
			<string>Slack</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>Slack</string>
			<key>type</key>
			<string>QuitApplication</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>CA43EA83-1E85-4D9E-9FAF-A6AC9BAA3912</string>
			<key>delay</key>
			<real>10</real>
			<key>description</key>
			<string>Slack</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>/Applications/Slack.app</string>
			<key>type</key>
			<string>OpenAndHide</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
	</array>
	<key>Contexts</key>
	<array>
		<dict>
			<key>iconColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg8Ip7z6DQH6jPYNulV0/AYY=
			</data>
			<key>name</key>
			<string>QS</string>
			<key>parent</key>
			<string></string>
			<key>uuid</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Earth</string>
			<key>parent</key>
			<string></string>
			<key>uuid</key>
			<string>969C8949-A6D7-4DF9-8393-AE28F04808FE</string>
		</dict>
		<dict>
			<key>iconColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgwAAAD8AgwAAAD8Bhg==
			</data>
			<key>name</key>
			<string>QS</string>
			<key>parent</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>uuid</key>
			<string>7C2E7D89-9433-4233-A1D9-95FE19EBC306</string>
		</dict>
		<dict>
			<key>iconColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAIOIhyU/gxhtXjgBhg==
			</data>
			<key>name</key>
			<string>Home</string>
			<key>parent</key>
			<string></string>
			<key>uuid</key>
			<string>CA43EA83-1E85-4D9E-9FAF-A6AC9BAA3912</string>
		</dict>
		<dict>
			<key>iconColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQAAAYY=
			</data>
			<key>name</key>
			<string>M6</string>
			<key>parent</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>uuid</key>
			<string>93A86D1F-839E-4410-BEAF-8B9775865291</string>
		</dict>
	</array>
	<key>CrashReportSender.appVersion</key>
	<string>67</string>
	<key>CrashReportSender.lastCrashDate</key>
	<date>2014-10-26T16:44:42Z</date>
	<key>DefaultContext</key>
	<string>969C8949-A6D7-4DF9-8393-AE28F04808FE</string>
	<key>EnableAudioOutputEvidenceSource</key>
	<false/>
	<key>EnableBonjourEvidenceSource</key>
	<true/>
	<key>EnableMonitorEvidenceSource</key>
	<false/>
	<key>EnableNetworkLinkEvidenceSource</key>
	<true/>
	<key>EnablePowerEvidenceSource</key>
	<false/>
	<key>EnableRunningApplicationEvidenceSource</key>
	<false/>
	<key>EnableTimeOfDayEvidenceSource</key>
	<false/>
	<key>EnableUSBEvidenceSource</key>
	<false/>
	<key>EnableWiFiEvidenceSource</key>
	<true/>
	<key>NSColorPanelMode</key>
	<string>5</string>
	<key>NSNavLastRootDirectory</key>
	<string>/Applications</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{802, 708}</string>
	<key>NSTableView Columns Preferences/Actions</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBHR5cGWG
		</data>
		<string>162</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErC2Rlc2NyaXB0aW9uhg==
		</data>
		<string>196</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBHdoZW6G
		</data>
		<string>139</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB2NvbnRleHSG
		</data>
		<string>76</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBWRlbGF5hg==
		</data>
		<string>467</string>
	</array>
	<key>NSTableView Columns Preferences/Rules</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBnN0YXR1c4Y=
		</data>
		<string>110</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBHR5cGWG
		</data>
		<string>140</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErC2Rlc2NyaXB0aW9uhg==
		</data>
		<string>297</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB2NvbnRleHSG
		</data>
		<string>163</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErCmNvbmZpZGVuY2WG
		</data>
		<string>207</string>
	</array>
	<key>NSTableView Hidden Columns Preferences/Actions</key>
	<array/>
	<key>NSTableView Hidden Columns Preferences/Rules</key>
	<array/>
	<key>NSTableView Sort Ordering Preferences/Actions</key>
	<array/>
	<key>NSTableView Sort Ordering Preferences/Rules</key>
	<array/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSView Size Preferences/Actions</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAt7
	Q0dTaXplPWRkfZaBSQSBagKG
	</data>
	<key>NSView Size Preferences/EvidenceSources</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAt7
	Q0dTaXplPWRkfZaBhQGBIgKG
	</data>
	<key>NSView Size Preferences/Rules</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAt7
	Q0dTaXplPWRkfZaBzwOBHAGG
	</data>
	<key>PersistentContext</key>
	<string>969C8949-A6D7-4DF9-8393-AE28F04808FE</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>confidence</key>
			<real>0.90060525412087911</real>
			<key>context</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>description</key>
			<string>00:13:f7:db:0f:51 (QuickSign)</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<string>00:13:f7:db:0f:51</string>
			<key>type</key>
			<string>WiFi BSSID</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.90060525412087911</real>
			<key>context</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>description</key>
			<string>00:13:f7:db:0f:59 (QuickSign)</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<string>00:13:f7:db:0f:59</string>
			<key>type</key>
			<string>WiFi BSSID</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.90189302884615385</real>
			<key>context</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>description</key>
			<string>_smb._tcp. on nas-quicksign</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<string>nas-quicksign/_smb._tcp.</string>
			<key>type</key>
			<string>Bonjour</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.90341481854838712</real>
			<key>context</key>
			<string>CA43EA83-1E85-4D9E-9FAF-A6AC9BAA3912</string>
			<key>description</key>
			<string>Skycrapper</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<string>Skycrapper</string>
			<key>type</key>
			<string>WiFi SSID</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.89867359203296704</real>
			<key>context</key>
			<string>FF7801D7-B353-441B-AB05-C964B520398E</string>
			<key>description</key>
			<string>QUICKSIGN_WIFI1</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<string>QUICKSIGN_WIFI1</string>
			<key>type</key>
			<string>WiFi SSID</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.69999999999999996</real>
			<key>context</key>
			<string>93A86D1F-839E-4410-BEAF-8B9775865291</string>
			<key>description</key>
			<string>192.168.17.1,255.255.255.0</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<string>192.168.17.1,255.255.255.0</string>
			<key>type</key>
			<string>IP</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.69999999999999996</real>
			<key>context</key>
			<string>7C2E7D89-9433-4233-A1D9-95FE19EBC306</string>
			<key>description</key>
			<string>192.168.2.1,255.255.255.0</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<string>192.168.2.1,255.255.255.0</string>
			<key>type</key>
			<string>IP</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.90115041208791191</real>
			<key>context</key>
			<string>CA43EA83-1E85-4D9E-9FAF-A6AC9BAA3912</string>
			<key>description</key>
			<string>Livebox-E649</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<string>Livebox-E649</string>
			<key>type</key>
			<string>WiFi SSID</string>
		</dict>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2016-05-20T10:32:11Z</date>
	<key>SUSkippedVersion</key>
	<string>77</string>
	<key>UseDefaultContext</key>
	<true/>
	<key>WebKitDefaultFontSize</key>
	<integer>11</integer>
	<key>WebKitStandardFont</key>
	<string>.Helvetica Neue DeskInterface</string>
	<key>menuBarOption</key>
	<integer>2</integer>
</dict>
</plist>
